git+https://github.com/xArm-Developer/xArm-Python-SDK.git
git+https://github.com/wuphilipp/gello_software.git
gymnasium
numpy
opencv-python
pyrealsense2
draccus
jax
matplotlib
tensorflow
pynput
imageio
json-numpy
pyspacemouse
pygame
mlcroissant


# envlogger[tfds]
# bsuite

uvicorn
fastapi
colorama
webdataset 
# TODO remove webdataset wds as dependency
# hamer uses for script preprocessing
